body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #264653;
background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
margin:0;
padding: 0;
font-family: 'Varela Round', sans-serif;
}

.allButtons{
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 40px;
    
}


.rock{
    transition:all 0.1s;
    background-image: url(../RPS-/IMG/clipart942198.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: transparent;
    color:transparent;
    height: 90px;
    font-size: 16px;
    width: 90px;
    border-radius: 90px;
    border: 3px solid #e76f51;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 6px 6px 10px black;
    
    

}

.paper{
    transition:all 0.1s;
    background-image: url(../RPS-/IMG/scissors.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 80%;
    background-position: center;
    font-weight: bold;
    color:transparent;
    height: 90px;
    font-size: 16px;
    width: 90px;
    border-radius: 90px;
    border: 3px solid #e9c46a;
    box-shadow: 6px 6px 10px black;
    font-family: 'Varela Round', sans-serif;

}

.scissors {
    transition:all 0.1s;
    background-image: url(../RPS-/IMG/Paper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 50%;
    color:transparent;
    height: 90px;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    border-radius: 90px;
    border: 3px solid #f4a261;
    box-shadow: 6px 6px 10px black;
    
}

.gameDetails{
    background-color: #2a9d8f;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 200px;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 15px #1f2020;
}

.scores{
    display: flex;
    gap: 200px;
    
}

.footer{
    background-color: #2a9d8f;
    color: white;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.lose{
    color: rgb(228, 54, 54);
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

.win{
    color: rgb(12, 83, 175);
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

.resultMessage{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    color: #2a9d8f;
    font-size: 60px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20px;
    text-shadow: 7px 7px #103833;
    
}

.rulesContainer{
    display: flex;
    flex-direction: column;
    width:400px;
    color:#2a9d8f;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-top:50px;
    
    
}

.rulesHeader{
    font-size: 25px;
    margin-bottom: -10px;
    text-align: center;
}

.gameRules{
    color: white;
}

.rock,
.paper,
.scissors{
    color: transparent;
}

 .paper.clicked{
    transform: scale(1.3);
    background-image: url(../RPS-/IMG/scissors.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 80%;
    background-position: center;
    font-weight: bold;
    color:transparent;
    font-size: 16px;
    border: 3px solid #e9c46a;
    box-shadow: 0px 10px 40px  #e9c46a;
    font-family: 'Varela Round', sans-serif;

}

.rock.clicked{
    
    background-image: url(../RPS-/IMG/clipart942198.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: transparent;
    color:transparent;
    transform: scale(1.3);
    border: 3px solid #e76f51;
    box-shadow: 0px 10px 40px #e76f51;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    
    

}

.scissors.clicked {
    background-image: url(../RPS-/IMG/Paper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 50%;
    color:transparent;
    transform: scale(1.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    border: 3px solid #f4a261;
    box-shadow: 0px 10px 40px #f4a261;
}
